@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  color: #111827;
}

/* Swiper 커스텀 */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}
